body {background-color: #2f4860; font: normal 83% "arial", sans-serif; color: #606760;}
h1 {border-bottom: solid 2px #ffffff; background-color: #2f4860; font-weight: bold; letter-spacing: -1px; color: #ffffff;}
h2 {font-weight: normal; letter-spacing: -1px; color: #2f4860;}

p {text-align: justify;}

#perm-links {text-align: center;}
#perm-links ul {list-style: none;}

#perm-links a {text-align: center; border: solid 1px #2f4860; background-color: #2f4860; color: #ffffff; font-weight: bold; text-decoration: none;}

#perm-links a:hover {color: #ffcc00; border: solid 1px #ffcc00;}

#inside {background-color: #F2F4F6;}

#main-menu {border: solid 1px #F2F4F6; background-color: #F2F4F6; color: #af8060;}
#main-menu ul {list-style: square;}
#main-menu  li { border-bottom: solid 1px #606070;}
#main-menu a { border: solid 1px #F2F4F6; background-color: #F2F4F6; color: #2f4860; font-weight: bold; text-decoration: none; text-align: left;}
#main-menu a:hover {background-color: #ffffff; color: #2f4860;}
#main-menu h3 {width: 101%; margin: 0; text-align: left; border-bottom: solid 1px #606070; letter-spacing: -1px; color: #2F4860;}

#content {background-color: #ffffff;}
#content a {color: #2f4860; font-weight: bold; text-decoration: none;}
#content a:hover {color: #2f4860; text-decoration: underline;}
#content table {width:100%; margin: auto; margin-top: 15px; margin-bottom: 15px; border: solid 1px #666666;border-collapse:collapse;}
#content th {background-color: #cccccc;}
#content td {padding: 3px; border: solid 1px #cccccc;}
#content tr:hover {color:green;background-color:#F2F4F6;}
#conent img {margin: auto; margin-top: 15px; margin-bottom:L 15px; border: solid 1px #666666;}
#content h3 {margin: 0; letter-spacing: -1px; color: #2f4860; border-bottom: solid 1px #2f4860;}
#content dt {margin-top: 8px; padding-left: 10px; font-weight: bold; letter-spacing: -1px; color: #2f4860;}
#content dd {width: 90%;}

#footer {border: solid 1px #2f4860; text-align: left; background-color: #2f4860; color: #ffffff;}


.info-title {background-color: #F2F4F6; margin: 0; padding: 2px; padding-left: 5px; color: #2F4860;}