.outlookKFR,
.outlookKFR input,
.outlookKFR select

{
	font-family:"Segoe UI",Arial,Helvetica,sans-serif;
	font-size:12px;
	color: #000000;
}


.kfrRoundCorner
{
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
	border-radius:4px;	
}

/*Headings*/
.outlookKFR h1.kfrH1
{
	font-size:16px;
}
.outlookKFR h2.kfrH2
{
	font-size:15px;
}
.outlookKFR h3.kfrH3
{
	font-size:14px;
}
.outlookKFR h4.kfrH4
{
	font-size:13px;
}
.outlookKFR h5.kfrH5
{
	font-size:12px;
}
/*FieldSet*/
.outlookKFR .kfrFieldSet
{
    background-image: url(FieldsetBgr.png);
    border: 1px solid #9EBFDB;	
	background-repeat:no-repeat;
}
.outlookKFR .kfrFieldSet legend
{
	color: #A0A0A0;
	padding-left:3px;
	padding-right:3px;
}

/*Start:------FieldSet in IE*/
.outlookKFR table.kfrRoundedWrapper_FieldSet
{
	display:inline-block;
	_display:inline;
}
.outlookKFR table.kfrRoundedWrapper_FieldSet td
{
	vertical-align:middle;
}
.outlookKFR table.kfrRoundedWrapper_FieldSet div.kfrRoundedOuter
{
	width:1px;
	font-size:0px;	
	background-color:#9EBFDB;
}
.outlookKFR table.kfrRoundedWrapper_FieldSet div.kfrRoundedInner
{
	width:1px;
	font-size:0px;	
	background-image: url(FieldsetBgr.png);
	border-top:1px solid #9EBFDB;
	border-bottom:1px solid #9EBFDB;
}
.outlookKFR table.kfrRoundedWrapper_FieldSet .kfrFieldSet
{
	background-position:0px 7px;	
}
/*End:------FieldSet in IE*/


/*Label*/
.outlookKFR .kfrLabel
{
	margin-left:2px;
	margin-right:2px;	
}
.outlookKFR .kfrDisabled
{
	color:#9F9F9F;
}

/*Validator*/
.outlookKFR .kfrValidator
{
	margin-left:5px;
	margin-right:5px;	
	color:red;
}


/*KoolTextBox*/
.outlookKFR .kfrTextBox
{
    background-color: #FFFFFF;
    border: 1px solid #C3D9F9;
    height: auto;
    line-height: normal;
    padding: 2px 2px 3px;	
}

.outlookKFR .kfrTextBox:hover,
.outlookKFR .kfrTextBox:focus
{
    border: 1px solid #305090;
}


.outlookKFR .kfrEmpty .kfrTextBox
{
	color:#9F9F9F;
}

.outlookKFR .kfrTable
{
	vertical-align: bottom;
    border-collapse: collapse;
    border-width: 0;	
}


.outlookKFR .kfrTextBoxWrapper
{
	display:inline-block;
	vertical-align:middle;	
}




/*Start:----------------------------TextBox in IE*/
.outlookKFR .kfrRoundedWrapper
{
	border:0px !important;
	display:inline-block;
	vertical-align:middle;
	vertical-align: bottom;
    border-collapse: collapse;
	_display:inline;
}

.outlookKFR .kfrRoundedWrapper td
{
	border:0px;
	padding:0px;
	vertical-align:middle;
}


.outlookKFR table.kfrRoundedWrapper div.kfrRoundedOuter
{
	width:1px;
	font-size:0px;
	background-color:#C3D9F9;
}
.outlookKFR table.kfrRoundedWrapper div.kfrRoundedInner
{
	width:1px;
	font-size:0px;
	background-color:#FFFFFF;
	border-top:1px solid #C3D9F9;
	border-bottom:1px solid #C3D9F9;
	background-image:none;
}

.outlookKFR table.kfrRoundedWrapper:hover div.kfrRoundedOuter,
.outlookKFR table.kfrFocus div.kfrRoundedOuter
{
	background-color:#305090 !important;
}
.outlookKFR table.kfrRoundedWrapper:hover div.kfrRoundedInner,
.outlookKFR table.kfrFocus div.kfrRoundedInner
{
	border-top-color:#305090 !important;
	border-bottom-color:#305090 !important;
}
/*End:----------------------------TextBox in IE*/


/*KoolNumericTextBox*/
.outlookKFR .kfrTable .kfrSpinUp,
.outlookKFR .kfrTable .kfrSpinDown
{
    height: 7px;
    line-height: 7px;
    width: 15px;
    display: block;
    outline: medium none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-indent: -2222px;
    z-index: 2;
	cursor:pointer;
}



.outlookKFR .kfrTable .kfrSpinUp
{
	background-position: 4px -98px;
	background-image:url(sprite.gif);
}
.outlookKFR .kfrTable .kfrSpinUp:hover
{
	background-position: 4px -148px;
}

.outlookKFR .kfrTable .kfrSpinDown
{
	margin-top: 3px;
	background-position: 4px -199px;
	background-image:url(sprite.gif);
}
.outlookKFR .kfrTable .kfrSpinDown:hover
{
	background-position: 4px -249px;
}

/*KoolPasswordTextBox*/
.outlookKFR .kfrIndicator
{
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	margin:0px 10px 0px 10px;
	padding:3px 5px 3px 5px;
	border-radius:4px;
}
.outlookKFR .kfrIndicator_Score_0
{
	display:none;
}
.outlookKFR .kfrIndicator_Score_1
{
	background:#FF7553;
}
.outlookKFR .kfrIndicator_Score_2
{
	background:#FFEDA4;
}
.outlookKFR .kfrIndicator_Score_3
{
	background:#93C9FF;
}
.outlookKFR .kfrIndicator_Score_4
{
	background:#6CFF92;
}
.outlookKFR .kfrIndicator_Score_5
{
	background:#20FF58;
}




/*KoolCheckBox*/
.outlookKFR .kfrHide
{
	position:absolute;
	left:-9999px;
}
.outlookKFR .kfrCheckBox .kfrSub
{
	display:inline-block;
	width:16px;
	height:16px;
	background-image:url(CheckBoxSprites.gif);
	background-position:-3px -3px;
	vertical-align:middle;
}
.outlookKFR .kfrCheckBox .kfrOver
{
	background-position:-3px -203px;
}
.outlookKFR .kfrCheckBoxSelected .kfrSub
{
	background-position:-3px -423px;
}
.outlookKFR .kfrCheckBoxSelected .kfrOver
{
	background-position:-3px -643px;
}

.outlookKFR .kfrCheckBox .kfrDisabled
{
	background-position:-3px -863px;
}
.outlookKFR .kfrCheckBoxSelected .kfrDisabled
{
	background-position:-3px -1083px;
}

/*KoolRadioButton*/
.outlookKFR .kfrRadio .kfrSub
{
	display:inline-block;
	width:16px;
	height:16px;
	background-image:url(RadioSprites.png);
	background-position:-3px -3px;
	vertical-align:middle;
}
.outlookKFR .kfrRadio .kfrOver
{
	background-position:-3px -223px;
}
.outlookKFR .kfrRadioSelected .kfrSub
{
	background-position:-3px -443px;
}
.outlookKFR .kfrRadioSelected .kfrOver
{
	background-position:-3px -643px;
}

.outlookKFR .kfrRadio .kfrDisabled
{
	background-position:-3px -863px;
}
.outlookKFR .kfrRadioSelected .kfrDisabled
{
	background-position:-3px -1083px;
}

/*KoolDropDownList*/
.outlookKFR .kfrRealDropDown
{
	filter:alpha(opacity=0);
	-moz-opacity:0.0;
	opacity:0.0;
	height:22px;
	position:relative;
}
/*Safari*/
body:nth-of-type(1) .outlookKFR .kfrRealDropDown
{
	line-height:18px;
}
.outlookKFR .kfrDropDownList
{
	display:inline-block;
	padding-right:1px;
	cursor:default;
	overflow:hidden;
	vertical-align:middle;
}

.outlookKFR .kfrOut
{
	display:inline-block;
	position:relative;
	background-image:url(ComboSprites.gif);
	height:22px;
}



.outlookKFR .kfrDropDownList .kfrSub
{
	position:absolute;
	float:left;
	left:0px;
	height:22px;
	padding-left:4px;
	overflow:hidden;
	line-height:22px;
}
.outlookKFR .kfrDropDownList .kfrArrow
{
	position:absolute;
	display:inline-block;
	float:right;
	height:22px;
	width:22px;
	height:22px;
	background-image:url(ComboSprites.gif);
 	background-position: right -22px;
	right:-1px;
}
.outlookKFR .kfrDropDownList:hover .kfrOut
{
 	background-position: 0 -44px;
}

.outlookKFR .kfrDropDownList:hover .kfrArrow
{
 	background-position: right -66px;
}

.outlookKFR .kfrDropDownList .kfrDisabled
{
	background-position: 0 -176px !important;
}
.outlookKFR .kfrDropDownList .kfrDisabled .kfrArrow
{
	background-position: right -198px;
}
.outlookKFR .kfrDropDownList .kfrDisabled .kfrSub
{
	color:#9F9F9F;
}



/*KoolButton*/
.outlookKFR a.kfrButtonWrapper
{
	background-image: url(ButtonSprites.gif);	
    background-color: transparent;
    background-position: right 0;
    background-repeat: no-repeat;
    border: 0 none;
    display: inline-block;
    height: 22px;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
	vertical-align:middle;    
}

.outlookKFR a.kfrButtonWrapper span.kfrOut 
{
	background-image: url(ButtonSprites.gif);
    background-color: transparent;
    background-position: left -22px;
    background-repeat: no-repeat;
    border: 0 none;
    display: inline-block;
    height: 22px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;    
	margin-right:4px;
}


.outlookKFR a.kfrButtonWrapper input.kfrButton
{
	background:none;
    border: 0 none;
    cursor: pointer;
    display: block;
    height: 22px;
    outline: medium none;
    overflow: visible;
    padding-left: 10px;
    padding-right: 6px;
   	padding-bottom:1px;
    text-align: center;
	vertical-align:middle;
}

.outlookKFR a.kfrButtonWrapper:hover
{
	background-position: right -44px;
}
.outlookKFR a.kfrButtonWrapper:hover span.kfrOut
{
	background-position: left -66px;
}

.outlookKFR a.kfrButtonDown:hover 
{
	background-position: right -88px;
}
.outlookKFR a.kfrButtonDown:hover span.kfrOut
{
	background-position: left -110px;
}